<!doctype html>
<html>
<head>

    {% block title %}
        <title>plattanus - blog</title>
    {% endblock %}

    {% block meta %}
        <meta charset="UTF-8">
        <meta name="keywords" content="Python,Django,算法,plattanus"/>
        <meta name="description" content="plattanus's blog"/>
    {% endblock %}
    <meta name="author" content="plattanus"/>
    <link rel="shortcut icon" href="/static/mypicture/favicon.ico"/>

    <!--CSS-->
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/mycss/default.css"/>
    <link rel="stylesheet" href="/static/mycss/public.css"/>
    <link rel="stylesheet" href="/static/mycss/animation.css"/>

    <link rel="stylesheet" href="/static/mycss/font-icon.css"/>
    <!--JS-->

    <script src="/static/myjs/jquery.2.1.4.min.js"></script>
    <script src="/static/myjs/my.js"></script>

    <script src="/static/myjs/superbg.min.js"></script>
    <script src="/static/myjs/superbg-custom.js"></script>
    <script src="/static/myjs/tooltip.js"></script>
    <script src="/static/myjs/layer.js"></script>


</head>

<body class="nobg">

<!--导航开始-->
{% include "blog/header.html" %}
<!--导航结束-->

<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    {% block content %}
    {% endblock %}
    <!--左侧结束-->

    <!--右侧开始-->
    {% include "blog/right.html" %}
    <!--END右侧-->
</div>
<!--主题框架结束-->


</body>
</html>
