<!DOCTYPE html>
<html class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<title>404 page not found - plattanus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/static/mycss/style.css">
	<!-- Google Font -->
	<link href="/static/mycss/css" rel="stylesheet" type="text/css">
	<!-- jQuery -->
	<script type="text/javascript" src="/static/myjs/jquery-1.11.0.min.js"></script>

	<!-- Airplane Animation -->
	<script>
      $(document).ready(function() {

       function fly(){
         plane.css('left', startPos);
         plane.animate({left: 2600}, 32000, 'linear')
       };

        var screenWidth = $(document).width();
        var startPos = -700;
        var plane = $('#plane')

        fly();

        setInterval(function() {
          fly();
        }, 34000);

      });
    </script>
</head>
<body style="">
	<div class="container">
		<!-- Airplane Container -->
		<div id="plane" style="left: 832.644px;">
			<span><img src="/static/mypicture/tail-end.png"></span>

			<!-- Replace this text with your custom -->
			<span class="tail">Sorry, we can't find what you're looking for</span>

			<span><img src="/static/mypicture/plane.png"></span>
		</div>

		<div class="centerContent clearfix">
			<!-- Search Box -->
			<div class="search">
				<form action="{% url "blog:search" %}">
				<input type="text" class="searchbox fl" name="key" placeholder="Search for something..." style="font-size: 18px">
				<input type="submit" class="searchbox-submit" value="">
				</form>
			</div>
			<!-- Menu -->
			<div class="menu fl">
				<a href="{% url "blog:index" %}">Home</a>
				<a href="#">About Me</a>
				<a href="{% url "blog:list" %}">Blog</a>
				<a href="{% url "blog:archive" %}">Archives</a>
				<a href="#">Contacts</a>
			</div>
			<!-- Footer -->
			<div class="footer fl">
				<!-- Social Icons -->
				<div class="social fl">
					<a href="https://twitter.com/plattanus7"><img src="/static/mypicture/twitter.png"></a>
					<a href="https://www.youtube.com/@TengtengLi-ju5hs"><img src="/static/mypicture/google.png"></a>
					<a href="https://github.com/plattanus"><img src="/static/mypicture/github.png"></a>
					<a href="mailto:plattanus@outlook.com"><img src="/static/mypicture/email.png"></a>
					<a href="#"><img src="/static/mypicture/weibo.png"></a>
				</div>
				<!-- Credits -->
				<div class="credits"><strong>plattanus's blog</strong></div>
			</div>
		</div>

	</div>
</body>
</html>